body {
  background-image: url("https://images.unsplash.com/photo-1474992291107-aa0d54b6ca19");
  background-size: cover;
  color: white;
  font-family: Oswald;
}

li {
  list-style: none;
}

img {
  width: 500px;
  border-radius: 25px;
}